html{
  margin: 5vw;
  font-size: 20px;
  font-family: DFKai-sb;
  background: #2C313C;
  color: #DDDDDD;
}

p.title{
  margin-top: 2vw;
  margin-bottom: 5vw;
  color: #964696;
  text-align: center;
}

p.successive, p.error{
  text-align: left;
}

p.poem{
  margin-top: 2vw;
  margin-bottom: 5vw;
  color: #1E8C3C;
  text-align: center;
  font-family: "Times New Roman";
}

p.one, p.two{
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-size: 2.5vw;
  text-align: center;
  font-family: "Times New Roman";
}
p.three{
  margin-top: 2vw;
  margin-bottom: 3vw;
  font-size: 3.5vw;
  text-align: center;
  font-family: "Times New Roman";
}

button.start{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 10vw;
  height: 3vw;
  font-size: 2vw;
  font-family: DFKai-sb;
  background: #C0C0C0;
}

button.next, button.restart, button.others{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: DFKai-sb;
  border: none;
  background: #909090;
}

button.one, button.two, button.three, button.four{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Times New Roman";
  border: none;
  background: #707070;
}

@media screen and (min-width: 1024px) {
  p.title{
    font-size: 5vw;
  }

  p.poem{
    font-size: 3vw;
  }

  p.successive, p.error{
    margin-left: 20vw;
    font-size: 1.5vw;
    text-align: left;
  }

  p.one, p.two{
    font-size: 1.6vw;
  }
  p.three{
    font-size: 2.5vw;
  }

  button.start{
    width: 10vw;
    height: 3vw;
    font-size: 2vw;
  }

  button.next, button.restart, button.others{
    width: 30vw;
    height: 4.3vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 1.7vw;
  }

  button.one, button.two, button.three, button.four{
    width: 40vw;
    height: 6vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 1.4vw;
  }
}

@media screen and (max-width: 1024px) {
  p.title{
    font-size: 15vw;
  }

  p.poem{
    font-size: 5vw;
  }

  p.successive, p.error{
    font-size: 5vw;
    text-align: left;
  }

  p.one, p.two{
    font-size: 3vw;
  }
  p.three{
    font-size: 5vw;
  }

  button.start{
    width: 30vw;
    height: 10vw;
    font-size: 8vw;
  }

  button.next, button.restart, button.others{
    width: 50vw;
    height: 12vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-size: 4vw;
  }

  button.one, button.two, button.three, button.four{
    width: 70vw;
    height: 20vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-size: 3vw;
  }
}
