html{
  margin: 5vw;
  font-size: 20px;
  font-family: DFKai-sb;
  background: #2C313C;
  color: #DDDDDD;
}

p.title{
  margin-top: 2vw;
  margin-bottom: 5vw;
  font-size: 5vw;
  color: #964696;
  text-align: center;
}

p.successive, p.error{
  text-align: left;
}

p.one, p.two{
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-size: 2.5vw;
  text-align: center;
}
p.three{
  margin-top: 2vw;
  margin-bottom: 3vw;
  font-size: 3.5vw;
  text-align: center;
}

button.start{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 10vw;
  height: 3vw;
  font-size: 2vw;
  font-family: DFKai-sb;
  background: #C0C0C0;
}

button.one, button.two, button.three, button.four, button.restart, button.others{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 30vw;
  height: 4vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-size: 2vw;
  font-family: DFKai-sb;
  border: none;
  background: #707070;
}

@media screen and (min-width: 1024px) {
  p.title{
    font-size: 5vw;
  }

  p.successive, p.error{
    margin-left: 20vw;
    font-size: 1.5vw;
    text-align: left;
  }

  p.one, p.two{
    font-size: 2.5vw;
  }
  p.three{
    font-size: 3.5vw;
  }

  button.start{
    width: 10vw;
    height: 3vw;
    font-size: 2vw;
  }

  button.one, button.two, button.three, button.four, button.restart, button.others{
    width: 40vw;
    height: 4vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 2vw;
  }
}

@media screen and (max-width: 1024px) {
  p.title{
    font-size: 20vw;
  }

  p.successive, p.error{
    font-size: 5vw;
    text-align: left;
  }

  p.one, p.two{
    font-size: 6vw;
  }
  p.three{
    font-size: 8vw;
  }

  button.start{
    width: 30vw;
    height: 10vw;
    font-size: 8vw;
  }

  button.one, button.two, button.three, button.four, button.restart, button.others{
    width: 90vw;
    height: 20vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-size: 5vw;
  }
}
